* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  footer {
    background-color: #282828;
    color: #fff;
    padding: 40px 0;
    font-family: Arial, sans-serif;
    align-items: center;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 500px;
    margin: 0 auto;
    align-items: center;
  }
  .foot{
    margin-left: 500px;
  }
  

  

  
  
  