*{
    align-content: center;
    background-color: rgb(111, 188, 227);
    text-align: center;
    color: antiquewhite;
    border-color: rgb(225, 198, 249);
    box-shadow: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
select{
    background-color: rgb(104, 140, 204);
}
#timetableForm{
    background-color: royalblue;
    padding: 295px;
}
@media only screen and (max-width: 1000px) {
    /* Styles for devices with a maximum width of 600 pixels */
    body {
      font-size: 14px;
    }
    h1{
        font-size: 20px;
        text-align: center;
        padding: 20px;
        
    }
    #timetableForm{
        background-color: royalblue;
        padding: 263px 0;
        align-content: center;
    }
  }