*{
    align-content: center;
    background-color: rgb(111, 188, 227);
    text-align: center;
    color: antiquewhite;
    border-color: rgb(225, 198, 249);
    box-shadow: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
select{
    background-color: rgb(104, 140, 204);
}
.container{
    

}
#timetableForm{
    background-color: royalblue;
    padding: 295px;
}